/* Temple Cards responsive layout for larger screens */
@media only screen and (min-width: 600px) {
    #temple-cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

@media only screen and (min-width: 900px) {
    #temple-cards {
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    #temple-cards {
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem 4rem;
    }
}
