@media only screen and (min-width: 32rem) {
  nav {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Show nav links and hide hamburger on wide screens */
@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
  nav ul {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    position: static;
    background: none;
    padding: 0;
  }
  nav li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
  }
}
