@media only screen and (min-width: 32rem) {
  nav {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
